<h1>Password reset</h1>

<p>Please follow the link, to reset your password:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>The validity of the link expires in two hours.</p>

<p>
If you have not requested a password reset, please ignore this email, your password
remain without change.
</p>